*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0px 210px;
    z-index: 4;
}

.headerNav{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content:space-between;
    text-transform: uppercase;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,.1);
}

.headerNavMobile{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content:space-between;
    text-transform: uppercase;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,.1);
    background-color: black;
    margin: 0 auto;

} 


@media screen and (min-width:769px){
    .headerNavMobile{
        display: none;
    } 
}

@media screen and (max-width:768px){
    .headerNav{
        display: none;
    }
    .header{
        padding: 0px;
    }
}

.menuBar li a:hover{
    color: gray;
}

.search{
    width: 500px;
}

h1{
    font-size: 40px;
    color: white;
    top: 10px;
    right: 10px;
    margin: 0px;
}


.headerNav li{
    display: inline;
    text-decoration-style: none;
    color: solid white;
    
}

.menuBar{
    margin: 0px;
}

.menuBar a{
    color: solid white;
    text-decoration: none;
    text-decoration-style:none;
    list-style: none;
    padding-right: 30px;
    font-weight: 900;
}


a{
    text-decoration: none;
    text-decoration-style:none;
    list-style: none;
    color:white;
    font-size: 18px;
}

.logo{
    margin: 0px;
}

.logo li{
    padding: 5px;
}

.logo img {
    width: 20px;
    height: 20px;
}

.logo img:hover{
    width: 22px;
    height: 22px;
}


.discount{
    display: flex;
    margin: 0px;
    justify-content: center;
    color: black;
    background-color: white;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    z-index: -1;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
}

.banner .content {
    position: absolute;
    text-align: center;
    color: #fff;
}

.banner h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.featuredTitle{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
}

.featuredProducts{
    display: flex; 
    justify-content: center;
    margin: 100px;
}

.featuredProduct:hover div{
    padding: 20px;
    border: 1px solid gainsboro;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.featuredItems p{
    display: flex; 
    justify-content: center;
    
}

.textItem{
    text-align: center;
}

.featuredProducts img{
    width: 220px;
    height: 220px;
    border: 1px solid gainsboro;
    margin: 0px auto;
}

.shoppingArticle{
    background-color: rgb(61, 58, 58);
    padding: 30px;
    color: white;
}

.shopping{
    display: flex; 
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.shoppingItem{
    display: flex; 
    flex-direction:column;
    justify-content: space-evenly;
    margin: 25px;
    padding: 20px;
}

.shoppingItem p{
    display: flex;
    justify-content: center;
    color:solid black;
    font-size: 15px;
    font-weight: 900;
    align-items: baseline;
    text-align: center;
}

.shoppingItem img{
    width: 180px;
    height: 150px;
}

.footer{
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: black;
    box-sizing: border-box;
    color: solid black;
    padding-top: 100px;
}

.footerAccordion{
    padding-top: 100px;
}

@media screen and (min-width:1300px){
    .footerAccordion{
        display: none;
    }
}

@media screen and (max-width:1300px){
    .containerAboutUs{
        display: none;
    }
    .containerAccount{
        display: none;
    }
    .containerHelp{
        display: none;
    }
    .footerAccordion{
        width: auto;
    }
    .footerSearch{
        width: auto
    }
    .footer{
        width: auto;
    }
}

.accordion-button {
    background-color: black; /* Cambia el color de fondo aquí */
}

.footer div ul li a {
    font-size: 15px;
    color: white;
}

.footer h2{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.footer h3{
    font-size: 20px;
    color: white;
}

.footer li{
    list-style: none;
    text-decoration: none;
}

.footer div ul li a:hover{
    color: gray;
    font-weight: 700;
}

.containerLogoEmail h3{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}

.Socials{
    display: flex;
    flex-direction: column;
}
    
.containerSocials {
    padding-top: 100px;
}

.containerSocials ul{
    display: flex;
    padding-left: 0px;
}

.containerAccount ul{
    padding-left: 0px;
}

.containerAboutUs ul{
    padding-left: 0px;
}

.containerHelp ul{
    padding-left: 0px;
}

.containerAccount li{
    padding-top: 30px;
}

.containerAboutUs li{
    padding-top: 30px;
}

.containerHelp li{
    padding-top: 30px;
}

.privacy{
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
}

/* cart page */

.articleCart h2{
    font-size: 40px;
}

.articleCart img{
    width: 250px;
}

hr{
    width: 90%;
}

.articleCart img{
    background-color: black;
}

/* shop page */

.short{
    width: 10%;
    
}

.allProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* brand page */

.brandTitle{
    margin-top: 100px;
}

.brandTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brandsIcons{
    display: flex;
    justify-content: center; 
    align-content: center;
    margin-bottom: 500px;
}

.brandsIcons li p{
    display: flex;
    justify-content: center;
}

.brandsIcons img{
    width: 250px;
    height: 220px;
}

/* login page */

.articleLogin{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.containerLogin{
    display: flex;
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 10px;
    width: auto;
}
.newCustomers{
    display: flex;
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 10px;
    width: auto;
    margin-top: 30px;
}
.newCustomers ul{
    padding-left: 0px;
    padding-top: 30px;
}

@media screen and (max-width:558px){
    .articleLogin{
        margin: 10px;
    }
}