.articleCart{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 120px;
    .emptyCart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        h2{
            font-weight: 900;
            font-size: 55px;
        }
        h3{
            a{
            list-style: none;
            text-decoration: none;
            color: gray;
                &:hover{
                    color: black;
                    text-decoration: underline;
                    
                }
            }
            
        }
}

@media screen and (max-width:550px){
    .articleCart{
        padding: 80px;
        .emptyCart{
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 15px;
            }
        }
    }
}