
.bodyShop{
    background-color: gainsboro;
    a{
        text-decoration: none;
        text-decoration-style:none;
        list-style: none;
        color: black;
        
    }
}

.shopFilters{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 70px;
    padding-left: 25px;
    ul{
        h5{
            font-weight: 900;
        }
        a li{
            font-size: 15px;
            &:hover{
                color: gray;
            }
        }
        padding-top: 45px;
    }
}


.containerSectionShop{
    display: flex;
    align-items: start;
}

.containerallProducts{
        display: flex;
        justify-content: start;
        margin-left: 55px;
    .allProducts {
        h2{
            text-align: center;
            font-size: 30px;
        }
    }
}




.containerArticle{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    width: 100%;
    .shopFeaturedProducts{
        width: 70%;
        display: flex;
        justify-content: start;
        background-color: white;
        padding:10px;
            hr{
                width: 100%;
            }
            div{
                display: flex;
                justify-content: start;
                flex-direction: column;
                align-items: start;
                width: 100%;
            }
            .shopFeaturedItem{
                display: flex;
                flex-direction: row;
                align-items: center;
                    img{
                        width: 170px;
                        height: 170px;
                    }
                .infoItem{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                }
            }
    }
}


@media screen and (max-width:500px){
    .shopFilters{
        display: none;
    }
    .shopFeaturedItem{
        display: flex;
        flex-direction: column !important;
        .infoItem div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .shopFeaturedProducts{
        margin: 0 auto;
    }
}    